<h1>Hi {{ name }}, Welcome to Berry</h1>
<p>Your account is successfully created.Below is your login details.Please login and change your password ASAP</p>
<p>
    email: {{ email }}<br>
    password: {{ password }}
</p>

<p>If you did not request this email you can safely ignore it.</p>
